body {
    font-size:18px;
}

#footer > div > div > div:nth-child(2) {
    text-align: center;
}
    
#header > div > div > div > div.col-xs-12.col-sm-6.col-md-3 > a.text-hide {
    float: right;
}


.header-inner img {
    max-width:100px;
    padding-top: 10px;
    margin-left: 50px;
}

.header-text {
    float: left;
}

h3.text-box-title {
    color: #972900;
}

.widget {
    border: 1px solid #ddd;
}

.widget-content {
    text-align: center;
}

.fast-find ul li a {
    box-shadow: none;
}

#content_inner > section.section.section-default.text-box > div:nth-child(2) {
    display: none;
}

h2 {
    font-weight: bold;
    font-size:20px!important;
}

h3.text-box-title { 
    font-weight: bold;
    font-size:22px!important;
}

.widget {
    border: 1px solid #ccc;
    background-color: #dddd;
}

/*BREAKING POINT STARTS HERE PLEASE BE AWARE OF IT*/
@charset "UTF-8";
/* CSS Document 

Customizations for CCRI - tested for Landing page only. May or may not be applicable to other pages.

Created by Jim Kirby on 2/28/19 -----------*/

body {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 1.6rem;
    margin: 0!important;
    padding: 0!important;
    background-image: url("http://www.ccri.edu/images/body-bg.png");
    background-repeat: repeat-x;
}
a {
    color: #00703c;
    text-decoration: none;
    border-bottom: dotted 1px #00703c;
}
#footer a {
    color: #A7B4AE;
}
.fast-find ul li a {
    background-color: #00703c;
    text-align: center;
}

.header-inner {
    background-color: #00703c;
}
p, ul {
    font-size: 1.6rem;
}
.container {
    width: 100%;
    max-width: 1366px;
}
.list-group-item {
    border-bottom-color: #BBBBBB;
}
.navBG ul#navLinks li a, .navBG ul#customnav li a {
    border-left-width: 0;
    font-size: 2rem;
}
.opening-content {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 3.6rem;
    font-weight: 100!important;
    color: #992800;
    line-height: 1em;
    margin: 1em 0;
    padding: 0;
    text-align: left;
}
h3.text-box-title {
    font-size: 2.8rem !important;
    color: #A05F01;
}

tbody p {
    font-size: inherit!Important;
}

/*
Customization for CCRI HR by Matthew Greco. Latest Update on 1/8/2024
*/

/*Home Page*/
.text-box-one {
    background-color: #E1E1E1;
    border: 1px solid #CCC;
}

.text-box-two {
    background-color: #E1E1E1;
    border: 1px solid #CCC;
}

/*Fast Find Hover*/
.fast-find ul li a:hover {
    color: black;
    border-bottom: none;
}


/*Job Search Page*/

.pagination > * {
    padding: 0.5em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.pagination a {
    border: 1px solid transparent;
    transition: all 300ms ease-in;
}

#search_results {
    padding: 5px 10px 10px 10px !important;
    border: 2px solid #CCC;
    font-size: 0.9em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/*Display brief JD on Search page in Italics*/
#search_results .job-description {
    font-style: italic;
}

#search_results .job-item {
    clear: right;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}

#search_results a {
    min-width: auto;
}

/*Job Search Department Word Wrap*/
#search_results .job-title-text-wrap {
    word-wrap: normal;
    overflow: hidden;
}

.job-actions a[href^="/bookmarks"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "\f02e" " ";
}


/*Posting Details Page*/

#posting-action-links .btn {
    min-width: auto;
}

/*Footer*/


/*For social media buttons*/
#footer .col-lg-4 {
    text-align: center;
}

.social {
    font-size: 1.75em;
    border-bottom: none;
}


.fa-linkedin-in::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "\f0e1" " ";
    padding-left: 1em;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 1em;
}

.fa-facebook-f::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "\f09a" " ";
    padding-left: 1em;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 1em;
}

.fa-youtube::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "\f16a" " ";
    padding-left: 1em;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 1em;
}

.fa-instagram::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "\f16d" " ";
    padding-left: 1em;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 1em;
}

.fa-twitter::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "\f099" " ";
    padding-left: 1em;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 1em;
}

/*Job Search*/
/*remove green dots from below orange icon*/
.pad-left a {
    border-bottom: none;
}

/*Navbar*/
/*Job Alerts Icon*/
#navLinks li a[href^="/interest_cards"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "\f0a2";
    padding-right: 0.2em;
}

/*Demographic Info Icon*/
#navLinks li a[href^="/user_applicant_details"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "\f0b1";
    padding-right: 0.2em;
}

/*College Mission Icon*/
#customnav li a[href^="https://www.ccri.edu/about/index.html#mission"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "\f02d";
    padding-right: 0.2em;
}

/*Cleary Act Icon*/
#customnav li a[href^="http://www.ccri.edu/campuspolice"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "\f15b";
    padding-right: 0.2em;
}

/*Job Description Page*/

/*create border around all forms globally*/
#form_view {
    padding: 5px 10px 10px 10px !important;
    border: 2px solid #CCC;
    -webkit-border-radius: 8px;
}

/*segment elements within job listing*/
#form_view td {
    border-bottom: 1px solid #CCC;
}

/*Job Alerts*/

/*remove red dots from below asterisks*/
form.formtastic abbr {
    text-decoration: none;
    border-bottom: none;
}

/*Search Bar*/

/*Underline currently viewed page number*/
.pagination em {
    font-style: normal;
    text-decoration: underline;
    text-decoration-color: black;
}

/*On hover over element, fade green border*/
.pagination a:hover {
    border: solid green 1px;
    color: green;
}

/*Update footer links to highlight white when mouse over*/
#footer a:hover {
    text-decoration: none;
    color: white;
}

/*Buttons react to mouse over*/
.btn:hover {
    background-color: #CCC !important;
    color: black !important;
}

/*Highlights Search Posting Options in green when mouse over*/
option:hover {
    background-color: #90EE90;
    cursor: pointer;
}

/*change color of results on job search page*/
.mainContent .smaller {
    color: #595959;
}

/*Transition full Apply To This Job button on hover*/
.apply-to-job-form > input:hover {
    background-color: #CCC !important;
    color: black;
}

/*Edit Footer location only above 1200px*/
@media only screen and (min-width: 1200px) {

    /*Bookmarked Postings Footer To Bottom*/
    #bookmarks_index #nav {
        padding-bottom: 11.8em;
    }

    /*Applications Footer To Bottom*/
    #job_applications_index #nav {
        padding-bottom: 11.8em;
    }

    /*Documents Footer To Bottom*/
    #documents_index #nav {
        padding-bottom: 11.8em;
    }

    /*Login Footer to Bottom*/
    #sessions_new #nav {
        padding-bottom: 23.6em;
    }
}

/*Mobile Responsive Design*/
@media only screen and (max-width: 768px) {
    
    /*Center header Logo*/
    #header .col-xs-12 {
        width: 50%;
    }
    
    /*Increase button padding*/
    .section-default .fast-find {
        padding-top: 5%;
        padding-bottom: 15%;
    }
    
    /*Increase image padding*/
    .row .col-md-6 {
        padding-bottom: 15%;
    }

    /*Increase gap between fast find buttons*/
    .fast-find ul li {
        margin-bottom: 1.5em;
    }
    
    /*Negate push for footer on bottom of page*/
    #contentWrapper .mainContent {
        padding-bottom: 0%;
    }

     /*Remove border from job posting due to content overflow*/
    #content_inner #form_view {
        border: 0px;
    }

    /*Set tables to conform to mobile screen*/
    #form_view table {
        table-layout: fixed;
    }

    /*Shrink font size on labels to prevent overlap*/
    #form_view table th {
      font-size: 1.3rem;
    }

    /*Move long links to next line, not off page*/
    #form_view table a {
      word-wrap: break-word;
    }

    /*Move long strings to next line*/
    #form_view table td {
      word-wrap: break-word;
    }

    /*Increase button padding when user is logged in*/
    .formtastic .float_right .btn-default {
        margin-top: 4em;
        margin-bottom: 2em;
    }

    /*Push footer to bottom of page in Bookmarks*/
    #bookmarks_index #search_results {
        margin-bottom: 28.3em;
    }

    /*Push footer to bottom of page in Documents*/
    #documents_index #content_inner {
        margin-bottom: 23.9em;
    }

    /*Increase distance from bottom button and Footer*/
    #user_applicant_details_edit .btn {
        margin-bottom: 3em;
    }

        /*Job Alerts Footer*/
    #interest_cards_index #nav {
        padding-bottom: 0em;
    }

    /*Bookmarked Postings Footer*/
    #bookmarks_index #nav {
        padding-bottom: 0em;
    }

    /*Applications Footer*/
    #job_applications_index #nav {
        padding-bottom: 0em;
    }

    /*Documents Footer*/
    #documents_index #nav {
        padding-bottom: 0em;
    }

    /*Login Footer*/
    #sessions_new #nav {
      padding-bottom: 0em;
    }
}
